body {
    font-family: Consolas,"courier new";
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}
.form-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}
.form-header h1 {
    color: #333;
    margin-bottom: 20px;
}
.form-field {
    margin-bottom: 20px;
    text-align: left;
}
.form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
.form-field input,
.form-field select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.form-field select {
    appearance: none;
    padding: 10px;
}
.form-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.form-button:hover {
    background-color: #0056b3;
}